extends layout
block content
    //-
            form(action='/filter')
            select(name='name')
                option(disabled='', selected='', value='') Select One...
                option(value='Starbucks') Starbucks
                option(value='1369 Coffee House') 1369 Coffee House
            input(type='submit', value='Submit') 

    #map
    script.
        var myData = !{JSON.stringify(jsonData)};
        //  var lat = !{JSON.stringify(currentLat)}
        //  var long = !{JSON.stringify(currentLong)}

        // Create variable to hold map element, give initial settings to map
        var map = L.map('map', {center: [51.505, -0.09], zoom: 15});
        L.control.locate({
            icon: 'fa fa-crosshairs'
        }).addTo(map);
        // Add OpenStreetMap tile layer to map element
        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: '© OpenStreetMap'
        }).addTo(map);

        // Add JSON to map
        /*L.geoJson(myData,{
            onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.f2);
            }
        }).addTo(map);*/